<!DOCTYPE html>
<html>
    <head>
        <title>Galerijos link</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% stylesheets '@GalerijaImagesBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    </head>
    <body>
        <div id="overlay_wrapper">
            <div id="overlay">
            </div>
            {% block prisijungimas %}
            {% endblock %}
        </div>
        <div class="topmenu">
            <div class="navigation">
                <div>
                    <a href="{{ path('galerija_images_homepage') }}">
                        Albumai
                    </a>
                </div>
                {% block topmenu %}
                {% endblock %}
            </div>
            <div class="topmenu_user">
                <a href="">
                    {% block username %}
                    {% endblock %}
                </a>
            </div>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% javascripts  %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@GalerijaImagesBundle/Resources/public/js/jquery/*'
                   '@GalerijaImagesBundle/Resources/public/js/*'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

</html>
