<!DOCTYPE html>
<html>
    <head>
        <title>Galerijos link</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% stylesheets 'bundles/GalerijaImages/css/*'
        'bundles/GalerijaImages/css/jquery/*'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    </head>
    <body>
        <div id="overlay_wrapper">
            <div id="overlay">
            </div>
            {% block prisijungimas %}
            {% endblock %}
        </div>
        <div class="topmenu">
            <div class="navigation">
                <div>
                    <a href="{{ path('galerija_album_homepage') }}">
                        Albumai
                    </a>
                </div>
                {% block topmenu %}
                {% endblock %}
            </div>

            <a id="user_open" href="#user_panel">
                <div class="topmenu_user navigation-border">
                        {% block username %}
                        {% endblock %}
                </div>
            </a>
            {% block search %}
            {% endblock %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>

    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% javascripts '@GalerijaImagesBundle/Resources/public/js/jquery/*'
                   '@GalerijaImagesBundle/Resources/public/js/*'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

</html>
