{% extends 'GalerijaImagesBundle:Default:index.html.twig' %}
{% block list %}
    {% block albumlist %}
        <div class="list">
            {% for single in album_array %}
                <div class="album isotope">
                    <a href="{{ path('galerija_images_album', { 'albumId' : single.getAlbumId() }) }}">
                            <img alt=" {{ single.getDefaultImage().getPavadinimas() }}"
                                 src="{{ asset(single.getDefaultImage().getWebPath() | imagine_filter('my_thumb')) }}"/>
                    </a>
                    {% if single|belongs %}
                        <img class="delete disappear delete-album"
                             id="{{ single.albumId }}" alt="Delete"
                             src="{{ asset('bundles/GalerijaImages/images/delete.png') }}"
                             data-csrf_token="{{ csrf_token("album" ~ single.albumId) }}"/>
                    {% endif %}
                    <p>
                        Nuotraukų kiekis: {{ single.getImageCount() }}
                    </p>
                    <div class="aprašymas" style=" overflow:hidden; width: 100%;">
                        <p>
                            {{ single.getShortComment() }}
                        </p>
                        <p>
                            {{ single.getLongComment() }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class=form_wrapper>
            {% include "GalerijaImagesBundle:Forms:album.html.twig" %}
        </div>
        <div id="delete-dialog" title="Trinimo dialogas">
            <p>Trinti albumą</p>

            <p>Kartu bus ištrintos visos nuotraukos nesusietos su kitais albumais</p>
        </div>
    {% endblock albumlist %}
{% endblock list %}
