
<div class="block">

    <div class="centered">
        <img alt="{{ image.getPavadinimas() }}" src="{{  asset(image.getWebPath()) }}"/>
    </div>

</div>
<div class="comments">
<ul>
    {% for single in comments %}
    <li>
        <fieldset>
            <legend>{{ single.user.username }}</legend>
            {{ single.comment }}
        </fieldset>
    </li>
   {% endfor %}
</ul>
    {{ form(form , {'attr': {'id': 'form_comment_add'}}) }}
</div>
