{% extends 'GalerijaImagesBundle:Default:index.html.twig' %}
{% block topmenu %}
    <img src="{{ asset('bundles/GalerijaImages/images/right_arrow.png') }}" alt="Dešinė"/>
<div>
  <a href="">
      {{ album.getShortComment() }}
    </a>
</div>
    <a id="upload_image" href="#form_array">
    <div   class="navigation-border">
        <img src="{{ asset('bundles/GalerijaImages/images/up_arrow.png') }}" alt="Įkelti"/>
        Įkelti
    </div>
    </a>
{% endblock %}
{% block search %}
    <textarea placeholder="Paieška pagal tag'us..." cols="25" maxlength="25" id="tag_filter" data-tags="{{ tags }}" rows="1"></textarea>
{% endblock %}
{% block list %}
    {% block imglist %}
    <div aID="{{ album.albumId }}" class="list">
        {% for image in album.images %}
            {% include 'GalerijaImagesBundle:Default:single_image.html.twig' %}
        {% endfor %}
    </div>
    {% endblock imglist %}
    <div class="form_wrapper disappear" id="form_array">
        <h3>Įkelti paveiksliuka</h3>
        {% include "GalerijaImagesBundle:Forms:image_upload.html.twig" %}
        <h3>Sukurti tag'ą</h3>
        {% include "GalerijaImagesBundle:Forms:tag_create.html.twig" %}
    </div>
    <nav id="page_nav">
        <a href="{{ page }}">
            Kitas puslapis
        </a>
    </nav>
    <div id="delete-dialog" title="Trinimo dialogas">
        <p>Kaip ištrinti? </p>
        <p>(Jei trinate iš savo įkeltų nuotraukų albumo, galima ištrinti tik iš visų albumų)</p>
    </div>

{% endblock list %}
