{% extends 'GalerijaImagesBundle:Default:index.html.twig' %}
{% block topmenu %}
    <img src="{{ asset('bundles/GalerijaImages/images/right_arrow.png') }}" alt="Dešinė"/>
<div>
  <a href="">

      {{ album.getShortComment() }}
  </a>
</div>
{% endblock %}
{% block search %}
    <textarea placeholder="Paieška pagal tag'us..." cols="25" maxlength="25" id="tag_filter" rows="1"></textarea>
{% endblock %}
{% block list %}
    {% block imglist %}
    <div class="list">
        {% for single in album.getImages() %}
                <div class="image isotope {% for tag in single.getTags() %}tag-{{ tag.getName() }}{% endfor %}">
                    <a class="fancybox" rel="gallery1" data-fancybox-type="ajax" href="{{ path('galerija_images_image_info', { 'imageId' : single.imageId })  }}">
                    <img alt="{{ single.getPavadinimas() }}" src="{{  asset(single.getWebPath() | imagine_filter('my_thumb')) }}"/>
                    </a>
                    {# patikriniam ar prisijungęs ir leidžiam trinti nuotraukas #}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <img class="delete disappear"  id="{{ single.imageId }}" alt="Delete" src="{{ asset('bundles/GalerijaImages/images/delete.png') }}" />
                    {% endif %}
                </div>
        {% endfor %}
    </div>
    <div class="form_wrapper" id="form_array">
        <h3>Įkelti paveiksliuka</h3>
        {% include "GalerijaImagesBundle:Forms:image_upload.html.twig" %}
        <h3>Sukurti tag'ą</h3>
        {% include "GalerijaImagesBundle:Forms:tag_create.html.twig" %}
    </div>
    {% endblock imglist %}
{% endblock list %}
