{% extends 'GalerijaImagesBundle:Default:index.html.twig' %}
{% block topmenu %}
    <img src="{{ asset('bundles/GalerijaImages/images/right_arrow.png') }}" alt="Dešinė"/>
<div>
  <a href="">

      {{ album.getShortComment() }}
  </a>
</div>
{% endblock %}
{% block search %}
    <textarea placeholder="Paieška pagal tag'us..." cols="25" maxlength="25" id="tag_filter" rows="1"></textarea>
{% endblock %}
{% block list %}
    {% block imglist %}
    <div aID="{{ album.albumId }}" class="list">
        {% for single in album.getImages() %}
                <div class="image isotope {% for tag in single.tags %} tag-{{ tag.name }}{% endfor %}">
                    <a class="fancybox" rel="gallery1" data-fancybox-type="ajax" href="{{ path('galerija_images_image_info', { 'imageId' : single.imageId })  }}">
                    <img alt="{{ single.getPavadinimas() }}" src="{{  asset(single.getWebPath() | imagine_filter('my_thumb')) }}"/>
                    </a>
                    {% if single|belongs %}
                        <img class="delete disappear delete-image"  id="{{ single.imageId }}" alt="Delete" src="{{ asset('bundles/GalerijaImages/images/delete.png') }}" />
                    {% endif %}
                </div>
        {% endfor %}
    </div>
    <div class="form_wrapper" id="form_array">
        <h3>Įkelti paveiksliuka</h3>
        {% include "GalerijaImagesBundle:Forms:image_upload.html.twig" %}
        <h3>Sukurti tag'ą</h3>
        {% include "GalerijaImagesBundle:Forms:tag_create.html.twig" %}
    </div>
    {% endblock imglist %}
    <div id="delete-dialog" title="Trinimo dialogas">
        <p>Kaip ištrinti? </p>
        <p>(Jei trinate iš savo įkeltų nuotraukų albumo, galima ištrinti tik iš visų albumų)</p>
    </div>
{% endblock list %}
