
<div class="block">
    <div class="image_texts image_title">
        {{ image.getPavadinimas() }}
    </div>
    <div class="centered">
        <img alt="{{ image.getPavadinimas() }}" src="{{  asset(image.getWebPath()) }}"/>
    </div>
    <div class="image_texts image_description">
        {{ image.getAprasymas() }}
    </div>
</div>
<div class="image_panel">
    <div id="image_accordion">
        <h3>Komentarai</h3>
        <div class="comments">
        <ul>
            {% for single in comments %}
            <li>
                {% if single|belongs or image|belongs %}
                    <div class="control">
                    <img class="disappear delete-comment"
                         id="{{ single.commentId }}" alt="Delete"
                         src="{{ asset('bundles/GalerijaImages/images/delete.png') }}"
                         data-csrf_token="{{ csrf_token("comment" ~ single.commentId) }}"   />
                    </div>
                {% endif %}
                <fieldset>
                    <legend>{{ single.user.username }}</legend>
                    {{ single.comment }}
                </fieldset>
            </li>
           {% endfor %}
        </ul>
            {{ form(form , {'attr': {'id': 'form_comment_add'}}) }}
        </div>
        <h3>Tagai</h3>
        <div class="tags">
            <ul>
                {% for tag in image.getTags() %}
                <li>
                    {{ tag.getName() }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="like" id="like_area" like_status="{{ (liked ? 'true' : 'false') }}">
        Patinka
        <a href ="{{ path('galerija_images_like', { 'imageId' : image.imageId })  }}">
            <img alt="Like" src="{{ (liked ? asset('bundles/GalerijaImages/images/like-ok.png')  :  asset('bundles/GalerijaImages/images/like.png')) }}  "/>
        </a>
        <span>{{ image.getLikeCount() }}</span>
    </div>
</div>