{% extends 'GalerijaImagesBundle:Default:index.html.twig' %}
{% block topmenu %}
    <img src="{{ asset('bundles/GalerijaImages/images/right_arrow.png') }}" alt="Dešinė"/>
<div>
  <a href="">

      {{ album.getShortComment() }}
  </a>
</div>
{% endblock %}
{% block list %}
    {% block imglist %}
    <div class="imglist">
        {% for single in album.getImages() %}
                <div class="image">
                    <a class="fancybox" rel="gallery1" href="{{ asset(single.getWebPath()) }}" title="{{ single.getPavadinimas() }}">
                    <img alt="{{ single.getPavadinimas() }}" src="{{  asset(single.getWebPath() | imagine_filter('my_thumb')) }}"/>
                        </a>
                    {# patikriniam ar prisijungęs ir leidžiam trinti nuotraukas #}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <img class="delete disappear"  id="{{ single.imageId }}" alt="Delete" src="{{ asset('bundles/GalerijaImages/images/delete.png') }}" />
                    {% endif %}
                </div>
        {% endfor %}
    </div>
    {% include "GalerijaImagesBundle:Forms:image_upload.html.twig" %}
    {% endblock imglist %}
{% endblock list %}
