{% extends '::base.html.twig' %}

{# patikriniam ar prisijungęs ir pakeičiam topmenu užrašą #}
{% block username %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ user.username }}
    {% else %}
        Prisijungimas
    {% endif %}
{% endblock %}

{% block prisijungimas %}
    {{  render(controller('GalerijaImagesBundle:Profile:fullPanel')) }}
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash" id="success">
            {{ flashMessage }}
            {{ flashMessage|trans({}, 'FOSUserBundle', "lt") }}
        </div>

    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash" id="error">
            {{ flashMessage|trans({}, 'validators', "lt")}}
        </div>
    {% endfor %}
    {% block list %}
    {% endblock %}
{% endblock %}

