<div class="image isotope {% for tag in image.tags %} tag-{{ tag.name }}{% endfor %}">
    <a class="fancybox" rel="gallery1" data-fancybox-type="ajax" href="{{ path('galerija_images_image_info', { 'imageId' : image.imageId })  }}">
        <img alt="{{ image.getPavadinimas() }}" src="{{  asset(image.getWebPath() | imagine_filter('my_thumb')) }}"/>
    </a>
    {% if image|belongs %}
        <img class="delete disappear delete-image"
             id="{{ image.imageId }}" alt="Delete"
             title="Ištrinti"
             src="{{ asset('bundles/GalerijaImages/images/delete.png') }}"
             data-csrf_token="{{ csrf_token("image" ~ image.imageId) }}"   />
    {% endif %}
    {% if album|belongs %}
        <img class="make_default"
             data-id="{{ image.imageId }}" alt="Padaryti tituliniu albumo paveiksliuku"
             title="Padaryti titulinį albumo paveiksliuką"
             src="{{ asset('bundles/GalerijaImages/images/pin.png') }}"
             data-csrf_token="{{ csrf_token("default_image") }}" />
    {% endif %}
</div>