{{ form_start(form, {'attr': {'id': 'form_image_add'}}) }}
<fieldset class="form">
    <legend>Įkelti nuotrauką</legend>
        {{ form_row(form.pavadinimas) }}
        {{ form_row(form.aprasymas) }}
        {{ form_row(form.failas) }}
        {{ form_row(form.shot_date) }}
        {{ form_row(form.albums) }}
        {{ form_row(form.tags) }}
        <div>
            {{ form_row(form.Ikelti) }}
        <div class="spacer"></div>
        </div>
        <div class="meter">
            <span></span>
        </div>
</fieldset>
{{ form_end(form) }}