<div class="panel_wrapper_registration" id="user_panel">
    <div id="left" class="panel">
        <div id="panel_title">
            Prisijungimas
        </div>
        <fieldset class="form" id="prisijungimas">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ token }}"/>

                <div>
                    <label for="username">Vardas</label>
                    <input id="username" type="text" name="_username" size="30" required="required">
                </div>
                <div>
                    <label for="password">Slaptažodis</label>
                    <input id="password" type="password" name="_password" size="30" required="required">
                </div>
                <div id="remember">
                    <label for="_remember_me">Prisiminti</label>
                    <input type="checkbox" id="_remember_me" name="_remember_me" value="on"/>
                </div>
                <div>
                    <button type="submit" id="_submit" name="_submit">Prisijungti</button>
                </div>
            </form>
        </fieldset>
    </div>
    <div id="right" class="panel">
        {#  {{ path("fos_user_registration_register") #}
            <div id="panel">
                <div id="panel_title">
                    Registruotis
                </div>

                    <fieldset class="form" id="prisijungimas">
                        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(regform) }} method="POST" id="register_form">
                            <div>
                                <label>Vardas</label>
                                {{ form_widget(regform.username) }}
                            </div>
                            <div>
                                <label>El.paštas</label>
                                {{ form_widget(regform.email) }}
                            </div>
                            <div>
                                <label>Slaptažodis</label>
                                {{ form_widget(regform.plainPassword.first) }}
                            </div>
                            <div>
                                <label>Pakartoti</label>
                                {{ form_widget(regform.plainPassword.second) }}
                            </div>
                            <div>
                                <button type="submit" class="registration_submit">Registruotis</button>
                            </div>
                            {{ form_end(regform) }}
                    </fieldset>
            </div>
        </form>
    </div>
</div>

